@import "null"; //обнуляем параметры
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

//Шрифт по умолчанию

$fontFamily: 'Work Sans', sans-serif;
$fontSize: 16px;

//ПЕРЕМЕННЫЕ
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270; //+30px
$md1: ($maxWidthContainer + 12)+px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$mainColor: #142251;
$greyColor: #AFB4C4;

//home
$gap: 0.3em;
$index: calc(1vw + 1vh);
$color-dark: #000;


//ПЕРЕМЕННЫЕ

body {
	//background-color: #E5E5E5;
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
	font-weight: 400;
	font-family: $fontFamily;
	font-size: $fontSize;
}

//<ОБОЛОЧКА> вообще для всего контента. Помогает раскидать удобно header, footer and main
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden; //контент обрезается без предоставления прокрутки
	display: flex;
	flex-direction: column;
	/* &._loaded {
    } */
}

//<ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container {
	max-width: $maxWidthContainer + px;
	padding: 0px 15px; //вот те 30px
	margin: 0 auto;
}
.img {
	width: 100%;
	height: 100%;
	display: block;
}

.title {
	font-size: calc($index * 2.5);
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	@media (max-width: $md3) {
		//font-size: 28px;
	}
	@media (max-width: $md4) {
		//font-size: 26px;
		letter-spacing: 0.05em;
	}
}

.subtitle {
	font-size: calc($index * 1.3);
	text-align: center;
	font-weight: 400;
	@media (max-width: $md3) {
		font-size: 18px;
	}
	@media (max-width: $md4) {
		font-size: 16px;
	}
}

footer,
header {
	flex: 0 0 auto;
}

.page {
	flex: 1 1 auto;
}
.btn:link, .btn:visited {
	display: inline-block;
	padding: 10px 40px;
	text-transform: uppercase;
	border-radius: 100px;
	transition: all 0.2s;

}
.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn__animation {
	animation: moveInBottom 0.5s ease-out 0.5s;
	animation-fill-mode: backwards;
}

@import "header";
@import "first-page";
/* @import "home"; */
@import "skills";
@import "whoIam";
@import "gallery";
@import "howWorking";